.questions {
    background-color: blanchedalmond;
    border-left: 5px solid skyblue;
    width: 80%;
    margin: $lg auto 0 auto;
    padding: $sm $md;

    .lifeline-container {
        display: flex;
        justify-content: space-between;

    }

    

    .lifeline {
        position: relative;
        top: -3px;
    }
    
    .lifeline-icon {
         color: green;
         cursor: pointer;   
        }
    .lifeline-icon:hover {
         color: darken($color: orange, $amount: 10%);
         background: none; 
        } 

    h2 {
        text-align: center;
        font-weight: lighter;
    }

    h5{
        font-size: 1.2rem;
        margin-bottom: $lg;
        line-height: 1.5;
        text-align: center;
    }
    .options-container {
        display: inline-block;
        width: 50%;
    }

    .option {
        background-color: slategrey;
        border-radius: 2px;
        color: snow;
        cursor: pointer;
        margin: $md auto ;
        padding: $normal;
        transition: 0.3% linear all;
        text-align: center;
        width: 90%;
    }

    .lifeline-icon {
        
    }

    .option:hover {
        background-color: darken($color: slategrey, $amount: 20%);
    }
}

.button-container {
    display: flex;
    justify-content: flex-start;
    margin: 0 auto $sm auto;
    padding: $md;
    width: 80%;
}

.button-container button {
    border: none;
    color: snow;
    cursor: pointer;
    margin-right: $md;
    padding: $xs $sm;
}

.button-container button:first-child{
    background-color: darken($color: blue, $amount: 10%);
    box-shadow: $shadow;
    transition: 0.2% linear all;
}

.button-container button:first-child:hover{
    background-color: darken($color: blue, $amount: 20%);
    box-shadow: $shadow;
    transition: 0.2% linear all;
}

.button-container button:nth-child(2){
    background-color: darken($color: red, $amount: 10%);
    box-shadow: $shadow;
    transition: 0.2% linear all;
}

.button-container button:nth-child(2):hover{
    background-color: darken($color: red, $amount: 20%);
    box-shadow: $shadow;
    transition: 0.2% linear all;
}

.button-container button:last-child{
    background-color: darken($color: yellow, $amount: 10%);
    box-shadow: $shadow;
    transition: 0.2% linear all;
}

.button-container button:last-child:hover{
    background-color: darken($color: yellow, $amount: 20%);
    box-shadow: $shadow;
    transition: 0.2% linear all;
}

.qn {
    background-color: blue;
    margin-right: 2px;
    float: left;
    border: none;
    color: snow;
    cursor: pointer;
    padding: $xs $sm;
}

.qn:hover {
    background-color: darken($color: blue, $amount: 20%);
    box-shadow: $shadow;
    transition: 0.2% linear all;
    margin-right: 2px;
    float: left;
    border: none;
    color: snow;
    cursor: pointer;
    padding: $xs $sm;
}
.qn .selected {
    background-color: darken($color: blue, $amount: 20%);
    box-shadow: $shadow;
    transition: 0.2% linear all;
    margin-right: 2px;
    float: left;
    border: none;
    color: snow;
    cursor: pointer;
    padding: $xs $sm;
}

.qn-container{
    background-color: blanchedalmond;
    border-left: 5px solid skyblue;
    width: 80%;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto $sm auto;
    padding: $md;
}